
<!--<div class="container">
  <div class="panel panel-primary">
<div class="panel-heading">
-->
  <div class="card" style="width: 18rem" >
    <div class="card-header" style="background-color: blue">
      <h1>Mon composant about</h1>
    </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          nom :<strong> {{info.nom}}</strong>
        </li>
        <li class="list-group-item">
          email:<strong> {{info.email}}</strong>
        </li>
        <li class="list-group-item">
          telephone : <strong>{{info.tel}}</strong>
        </li>
        <li *ngFor="let c of comments" class="list-group-item">
          date :<strong> {{c.date| date:'dd/MM/yyyy HH:mm:ss'}}</strong>
          message : <strong>{{c.message}}</strong>
        </li>
      </ul>
    </div>

 <!-- </div>
</div>

</div>
</div>

-->
