<script>
  function myFunction() {
    var e = new Event();
    var elems = document.querySelectorAll(".active");
    [].forEach.call(elems, function (el) {
      el.classList.remove("active");
    });
    e.target.className = "active";
  }

</script>
<!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3tk3fbWlbrHoCvffCMZN1jJ-OF08XgeI"></script>-->
<script src='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.js'></script>

<link href='https://api.mapbox.com/mapbox-gl-js/v1.0.0/mapbox-gl.css' rel='stylesheet'/>
<div class="row" style="background-color: #c7e4f1;margin: 5px;">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <div class="d-flex flex-row" style="align-items: center;margin: 5px 0;">
      <h4 style="text-align:left;color:#2295c7;font-weight: 900;text-transform: capitalize;margin-right: auto">r&eacute;sum&eacute;</h4>
      <select class="selected">
        <option selected>aujourd'hui</option>
      </select>
    </div>
    <!--    total/nouveaux clients-->
    <!--<div style="display: grid;grid-template-columns: 1fr 2fr;grid-gap: 10px;margin: 5px 0;"> margin: 5px 0 5px 5px;-->
    <div class="row" style="margin: 5px 0;">
      <div class="border-radius col-xs-12 col-sm-6 col-md-4 col-lg-4"
           style="padding-right: 0;padding-left: 0;background-color: #FFFFFF;">
        <div class=" d-flex flex-row" style="padding: 5px;background-color: #FFFFFF;">
          <img class="images" src="assets/images/clients/icone_clients.svg"
               style="align-self:center;width:40px;height: 40px;background-color: #38679b;">
          <div class="d-flex flex-column">
            <h6 style="text-align: left;margin:0;color: #2295c7;font-weight:500;text-transform: uppercase">total</h6>
            <small style="color: #38679b;font-weight: 900;font-size: 20px;align-self: center;">43</small>
          </div>
        </div>
        <div><a class="link" href="#">voir d&eacute;tails</a></div>
      </div>
      <!--      nouveaux clients-->
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="padding-right: 0;padding-left: 0;">
        <div class="border-radius"
             style="display: grid;grid-template-columns: 2fr 1fr;padding: 5px;margin: 5px 0 5px 5px;background-color: #FFFFFF;">
          <div
            style="border-left:0;border-bottom:0;border-top:0;border-right: 1px;border-style: solid;padding:0 5px 0 0;border-color: #2295c7;">
            <div class="d-flex flex-row">
              <img class="images" src="assets/images/clients/icone_nouveaux_clients.svg"
                   style="align-self:center;width:40px;height: 40px;background-color: #2295c7;">
              <div class="d-flex flex-column" style="padding: 5px;">
                <h6 style="text-align: left;margin:0;color: #2295c7;font-weight:500;text-transform: uppercase">
                  Nouveaux</h6>
                <h6 style="text-align: left;margin:0;color: #2295c7;font-weight:500;text-transform: uppercase">
                  clients</h6>
              </div>
              <h6
                style="align-self:center;margin-left:auto;margin-right:10px;color: #2295c7;font-weight:500;font-size:30px;text-transform: uppercase">
                5</h6>
            </div>
            <div style="margin-top: 10px;"><a class="link" href="#">voir d&eacute;tails</a></div>
          </div>
          <div class="d-flex flex-column" style="align-items: center;justify-content: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #e46e0a;">
              <path d="m10 10.414 4 4 5.707-5.707L22 11V5h-6l2.293 2.293L14 11.586l-4-4-7.707 7.707 1.414 1.414z"/>
            </svg>
            <h4><strong style="font-size: 30px;color: #e46e0a">(+1)</strong></h4>
          </div>
        </div>
      </div>
      <!--  prospects cibles-->
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" style="padding-left: 0;padding-right: 0;">
        <div class="border-radius"
             style="display: grid;grid-template-columns: 2fr 1fr;padding: 5px;margin: 5px 0 5px 5px;background-color: #FFFFFF;">
          <div
            style="border-left:0;border-bottom:0;border-top:0;border-right: 1px;border-style: solid;padding:0 5px 0 0;border-color: #2295c7;">
            <div class="d-flex flex-row">
              <img class="images" src="assets/images/clients/icone_nouveaux_clients.svg"
                   style="align-self:center;width:40px;height: 40px;background-color: #2295c7;">
              <div class="d-flex flex-column" style="padding: 5px;">
                <h6 style="text-align: left;margin:0;color: #8DBF53;font-weight:500;text-transform: uppercase">
                  prospects </h6>
                <h6 style="text-align: left;margin:0;color: #8DBF53;font-weight:500;text-transform: uppercase">
                  cibl&eacute;s</h6>
              </div>
              <h6
                style="align-self:center;margin-left:auto;margin-right:10px;color: #8DBF53;font-weight:500;font-size:30px;text-transform: uppercase">
                5</h6>
            </div>
            <div style="margin-top: 10px;"><a class="link" href="#">voir d&eacute;tails</a></div>
          </div>
          <div class="d-flex flex-column" style="align-items: center;justify-content: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: #f1bb18;">
              <path d="m14 9.586-4 4-6.293-6.293-1.414 1.414L10 16.414l4-4 4.293 4.293L16 19h6v-6l-2.293 2.293z"/>
            </svg>
            <h4><strong style="font-size: 30px;color: #f1bb18">(-2)</strong></h4>
          </div>
        </div>
        <
      </div>
    </div>
    <!--    Statistiques-->
    <div class="d-flex flex-row" style="align-items: center;margin: 15px 0 5px;">
      <h4 style="color:#2295c7;text-align:left;font-weight: 900;text-transform: capitalize;margin-right: auto">
        statistiques</h4>
      <div id="btnNbJours" style="margin-left: auto;display: flex;" (click)="onButtonGroupClick($event)">
        <button type="button" class="button-statistiques active" area-pressed='true'>30 derniers jours</button>
        <button type="button" class="button-statistiques" area-pressed='true'>12 derniers mois</button>
        <button type="button" class="button-statistiques">7 derniers jours</button>

      </div>
    </div>
    <!-- graphes-->
    <div class="border-radius" style="padding: 5px;margin: 5px 0;background-color: #FFFFFF;">

      <div class="d-flex flex-row ">
        <ul class="border-radius"
            style="margin-right:10px ;width:200px;height:25px;padding-right:0.1em;border-width:1px;border-color:#2295c7;list-style-type: disc;color:#38679b;text-transform:capitalize;font-weight: 400;">
          <li><label for="cl-tt1">clients totaux</label><input type="checkbox" id="cl-tt1" name="cl-tt"
                                                               style="margin-left: 35px;"></li>
        </ul>
        <ul class="border-radius"
            style="margin-right:10px ;width:200px;height:25px;padding-right:0.2em;border-width:1px;border-color:#2295c7;list-style-type: square;color:#2295c7;text-transform:capitalize;font-weight: 400;">
          <li><label for="cl-tt2">nouveaux clients</label>
            <input type="checkbox" id="cl-tt2" name="cl-tt" style="margin-left: 30px;"></li>
        </ul>
        <ul class="border-radius triangle"
            style="margin-right:10px ;width:200px;height:25px;padding-right:0.2em;border-width:1px;border-color:#2295c7;list-style-type: armenian;color:#8DBF53;text-transform:capitalize;font-weight: 400;">
          <li><label for="cl-tt3">prospects cibl&eacute;s</label>
            <input type="checkbox" id="cl-tt3" name="cl-tt" style="margin-left: 30px;"></li>
        </ul>
      </div>
      <!--      graphes-->
      <div [chart]="char"></div>
    </div>
    <!--CARTE-->
    <div class="row">

      <div class="chart col-xs-12 col-sm-6 col-md-5 col-lg-5">
        <h4 style="text-align:left;color:#2295c7;font-weight: 900;text-transform: capitalize;margin-right: auto">
          secteur
          d'activit&eacute;s</h4>
        <div class="border-radius" style="background-color: #FFFFFF;">
          <figure class="highcharts-figure" style="margin: 0;">
            <div id="container" [chart]="charPie" style="display: flex;justify-content: center;"></div>
          </figure>
        </div>
      </div>
      <!--
      Details des 10 derniers prospects
      -->
      <div class="map-content col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin: 5px 0;">
        <h4 style="text-align:left;color:#2295c7;font-weight: 900;text-transform: capitalize;margin-right: auto">
          carte</h4>
        <div id="map" class="map match-parent"
             style="height:200px;border-radius: 5px;border-style: solid; border-color: #2295c7;"></div>
      </div>
    </div>

  </div>
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div class="row" style="margin: 5px 0;">
      <!-- Calendrier-->
      <div class="calendrier col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- dernieres demandes tile-->
        <div class="d-flex flex-row">
          <h4 style="text-align:left;color:#2295c7;font-weight: 900;text-transform: capitalize;margin-right: auto">
            Calendrier</h4>
        </div>
        <div style="background-color: #FFFFFF;padding: 5px;">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
      </div>
      <!-- Prochains rendez-vous-->
      <div class="demandes col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="d-flex flex-column">

          <!-- dernieres demandes tile-->
          <div class="d-flex flex-row">
            <h4 style="text-align:left;color:#2295c7;font-weight: 900;text-transform: capitalize;margin-right: auto">
              prochains rendez-vous </h4>
            <div class="dropup">
              <button class="btn btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                  <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                             style="color:#2295c7;"><path d="M7 11h10v2H7zM4 7h16v2H4zm6 8h4v2h-4z"/></svg></span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
          </div>
          <!-- demande conent-->
          <div class="content-demandes row"
               style="background-color: #FFFFFF;margin:-5px;padding:5px;border-radius: 5px;border-style:  solid; border-color: #ffffff;">
            <div class="d-flex flex-column col-sm-12 col-md-12" *ngFor="let demande of demandes"
                 style="margin: 0 0 10px;text-align:left;padding: 10px; border-radius: 5px;border-width:2px;border-style:  solid; border-color: #2295C7;">
              <div class="d-flex flex-row" style="align-items:start;">
                <img src="assets/images/clients/icone_derniere_demande.svg"
                     style="border-radius: 5px;border-style:  solid; border-color: #2295C7;background-color: #2295c7;width: 45px;height: 45px;">
                <h5 style="color:#2295c7;margin: 0 10px;">
                  <strong><span style="text-transform: capitalize;font-weight: 450;">demande </span>
                    n&#176;{{demande.numeroDemande}}</strong><br>
                  <span style="text-transform: capitalize;font-weight: 350;">Clients: {{demande.nomClient}}</span><br>
                  <small style="text-transform: capitalize;font-weight: 250;">Lorem ipsum dolor sit amet
                    consectet</small>
                </h5>
              </div>
              <h6 style="text-align: right;color:#e46e0a;font-weight: 450;margin: 0;">{{demande.date}}</h6>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>



