<div class="salesman-dashboard">
<!--  gauche -->
  <div class="left-dashboard">
      <div class="flex-dashboard flex-column-dashboard">
<!--        Effectif card-->
          <div class="card-dashboard flex-dashboard flex-column-dashboard">
            <div class="title-card-dashboard ">
              <h4 class="margin-h">effectif</h4>
            </div>
            <div class="body-card-dashboard flex-dashboard flex-column-dashboard">
              <div class="total-dashboard">
                <select class="total-select-dashboard">
                  <option selected>Total</option>
                </select>
              </div>
             <div class="com-section-new-all flex-dashboard flex-row-dashboard">
               <img class="img-com-prosp" src="assets/images/salesman/icone_client_prospect_commerciaux.svg">
               <!--  -->
               <div class="commerciaux-img-dashbord flex-dashboard flex-column-dashboard">

                 <h5 class="commerciaux-word">commerciaux</h5>
                 <small class="small-new-commerciaux-word"> 2 nouveaux commerciaux</small>
               </div>
               <small class="samll-com-all" style="font-size: 30px;">101</small>

             </div>
            </div>
          </div>
<!--        Classement card-->
        <div class="card-dashboard flex-dashboard flex-column-dashboard" style="margin: 15px 0 0">
          <div class="title-card-dashboard ">
            <h4 class="margin-h">classement</h4>
          </div>
          <div class="body-card-dashboard flex-dashboard flex-column-dashboard">
            <div class="salesman-of-month">
              <h5>salesman du mois</h5>
            </div>
            <!-- salesman and properties -->
            <div class="salesman-of-month-properties flex-dashboard flex-row-dashboard">
              <!-- clients prospects properties -->
              <div class="salesman-of-month-properties-content flex-dashboard flex-column-dashboard">
                <h4 class="name-salesman-of-month">ndeye Rokhaya Thiam</h4>
                <h5  class="clients-salesman-of-month ">12 clients</h5>
                <h5 class="prospects-salesman-of-month">15 prospects</h5>
              </div>

              <!-- trophy -->
              <img class="trophy-salesman-of-month" src="assets/images/salesman/icons8-trophy-96.png">
            </div>
<!--            Show more details-->
            <div class="show-more">
              <a class="details" href="#">
                voir d&eacute;tails
              </a>
            </div>
<!--            Second and third-->
            <div class="second-third flex-dashboard flex-row-dashboard">
              <!--second -->
              <div class="second flex-dashboard flex-column-dashboard">
                <h4 class="name-second-salesman-of-month">2. Babacar Cisse</h4>
                <h4  class="clients-prospect-second ">8 clients</h4>
                <h4 class="clients-prospect-second">15 prospects</h4>
              </div>
              <!-- third -->
              <div class="third">
                <h4 class="name-third-salesman-of-month">3. Jean Paul Gomis</h4>
                <h4  class="clients-prospects-third ">8 clients</h4>
                <h4 class="clients-prospects-third">15 prospects</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<!--  droite-->
  <div class="right-dashboard">
<!--    Resume block-->
    <div class="flex-dashboard flex-column-dashboard">
<!--        Effectif-->
        <div class="card-dashboard flex-dashboard flex-column-dashboard">
          <div class="title-resume flex-dashboard flex-row-dashboard">
            <h4 class="margin-h">r&eacute;sum&eacute;</h4>
            <button type="button" class="button-setting">
              <img class="setting-img" src="assets/images/salesman/icone_settings.svg">
            </button>
          </div>
          <div class="body-card-dashboard flex-dashboard flex-column-dashboard">
            <div class="com-prev-next-total flex-dashboard flex-row-dashboard">
              <div class="title-resume">
                <h4 class="margin-c-pnt">commercial</h4>
              </div>
              <div class="prev-next-total flex-dashboard flex-row-dashboard">
                <a href="#" class="padding-prev-next">prev</a><a href="#"  class="padding-prev-next">next</a><select class="total-select-dashboard">
                <option selected>Total</option>
              </select>
              </div>
            </div>
            <div class="com-info">
              <div class="name-info flex-dashboard flex-row-dashboard">
                <img class="img-name" src="assets/images/salesman/photo.JPG">
                <div class="name-after-img flex-dashboard flex-column-dashboard">
                  <h5 class="name-salesman-of-month" style="margin: 0.2em 0;">Pape Moussa DIENG</h5>
                  <h6 class="salesman-of-month" style="text-transform: capitalize;margin: 0.2em 0;">Selsman</h6>
                  <small class="clients-prospect-second">Lorem ipsum</small>
                </div>
              </div>
              <div class="name-info-clients flex-dashboard flex-row-dashboard">
                <img class="img-com-prosp" src="assets/images/salesman/icone_client_prospect_commerciaux.svg">
                <div class="commerciaux-img-dashbord flex-dashboard flex-column-dashboard">
                  <h5 class="commerciaux-word" style="color: #38679b">clients</h5>
                  <small class="small-new-commerciaux-word"> 2 nouveaux commerciaux</small>
                </div>
                <small class="samll-com-all" style="align-self: center;font-size: 30px;">23</small>
              </div>
              <div class="name-info-prospects flex-dashboard flex-row-dashboard">
                <img class="img-com-prosp" src="assets/images/salesman/icone_client_prospect_commerciaux.svg">
                <div class="commerciaux-img-dashbord flex-dashboard flex-column-dashboard">
                  <h5 class="commerciaux-word" style="color: #38679b">prospects</h5>
                  <small class="small-new-commerciaux-word"> 2 nouveaux commerciaux</small>
                </div>
                <small class="samll-com-all" style="align-self: center;font-size: 30px;">23</small>

              </div>
            </div>

<!--            secteur activite-->
            <div class="activity-sector">
              <div class="activity-sector-clients flex-dashboard flex-column-dashboard">
                <div class="title-resume">
                  <h4 class="margin-h">clients</h4>
                </div>
                <div class="clients-activity-sector flex-dashboard flex-row-dashboard ">
                  <ul class="flex-dashboard flex-row-dashboard" style="width: 50%;margin: 0 10px 5px 5px">
                    <li style="list-style-type: disc;color: #571049;">Secteur 1</li><li style="color: #571049;margin-left: auto;list-style-type: none;">10</li>
                  </ul>
                  <ul class="flex-dashboard flex-row-dashboard" style="width: 50%;margin: 0 10px 5px 5px">
                    <li style="list-style-type: disc;color: #e46e0a;">Secteur 1</li><li style="color: #e46e0a;margin-left: auto;list-style-type: none;">10</li>
                  </ul>
                </div>
              </div>
              <div class="activity-sector-prospects flex-dashboard flex-column-dashboard">
                <div class="title-resume">
                  <h4 class="margin-h">prospects</h4>
                </div>
                <div class="prospects-activity-sector flex-dashboard flex-row-dashboard ">
                  <ul class="flex-dashboard flex-row-dashboard" style="width: 50%;margin: 0 10px 5px 5px">
                    <li style="list-style-type: disc;color: #571049;">Secteur 1</li><li style="color: #571049;margin-left: auto;list-style-type: none;">10</li>
                  </ul>
                  <ul class="flex-dashboard flex-row-dashboard" style="width: 50%;margin: 0 10px 5px 5px">
                    <li style="list-style-type: disc;color: #e46e0a;">Secteur 1</li><li style="color: #e46e0a;margin-left: auto;list-style-type: none;">10</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--    REpartition block-->
    <div class="flex-dashboard flex-column-dashboard">
      <div class="card-dashboard flex-dashboard flex-column-dashboard" >
        <div class="title-resume flex-dashboard flex-row-dashboard">
          <h4 class="margin-h">r&eacute;partition</h4>
          <div class="dates flex-dashboard flex-row-dashboard" >
            <button type="button" class="seven-thirty">7 derniers jours</button>
            <button type="button" class="seven-thirty">30 derniers jours</button>
            <button type="button" class="twelth" >12 derniers mois</button>
          </div>
        </div>
        <div class="body-card-dashboard flex-dashboard flex-column-dashboard">
          <div class="pro-clients-name-rep flex-dashboard flex-row-dashboard">
            <div class="pro-clients flex-dashboard flex-row-dashboard">
              <div class="ul-pro-clients ul-pro" >
                <ul  style="list-style-type: disc;margin: 0 ">
                  <li >
                    <form>  <label for="prospects" style="margin: 0 10px 0 0;text-transform: capitalize">prospects</label><input type="checkbox" name="prospects" id="prospects"></form>
                  </li>
                </ul>
              </div>
              <div class="ul-pro-clients ul-clients">
               <ul class="" style="list-style-type: square;margin: 0">
                <li>
                  <form> <label for="clients" style="margin: 0 10px 0 0;text-transform: capitalize">clients</label><input type="checkbox" name="clients" id="clients"></form>
                </li>
                </ul>
              </div>

            </div>
            <select class="name-rep">
                <option selected>Pathe Diouf</option>
            </select>
          </div>
          <div class="courbe" [chart]="chart" >

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
