<style>
  li {
    display: inline;

    margin: 0 5px;
  }
  a {
    color: #FFFFFF;
    background-color: #e46e0a;
    padding: 0.1em 0.4em;
    border-radius: 5px;
    border-style: solid;
    border-color: #e46e0a;
    text-decoration: none;
  }
</style>
<div>
  <h1> les composants </h1>
  <nav style="margin:0 0 15px 0;">
  <ul style="list-style-type: none;">
<!--<app-highcharts></app-highcharts>-->
    <li style=""><a routerLink="salesman" routerLinkActive="active">salesman</a> </li>
    <li ><a routerLink="clients" routerLinkActive="active">clients</a> </li>
    <li ><a routerLink="prospects" routerLinkActive="active">prospects</a> </li>
    <li ><a routerLink="comptabilite" routerLinkActive="active">comptabilite</a> </li>
    <li ><a routerLink="comptabilite-bootstrap" routerLinkActive="active">comptabilite-bootstrap</a> </li>
    <li><a routerLink="location" routerLinkActive="active">location</a> </li>
<!--  <app-about></app-about>-->
    <!--<app-contacts></app-contacts>-->
  </ul>
  </nav>
  <app-nav-bar></app-nav-bar>
  <router-outlet></router-outlet>
</div>
