*{
  box-sizing: border-box;
}

.nav-comptabilite{

}
.revenus-nav-comptabilite{
  background-color: #fff;
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  margin: 5px 5px 0;
}

.salaire-frais{
  background-color: #fff;
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  margin: 5px 5px 0;
  }
.salaire-nav-comptabilite{

  background-color: #fff;
  padding: 5px ;
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  margin: 5px 5px 0;
}
.chiffresAffaire-nav-comptabilite{
  background-color: #fff;
  padding: 5px ;
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  margin: 5px 5px 0;
}
.frais-nav-comptabilite{
  background-color: #fff;
  padding: 5px ;
  border-radius: 10px;
  border-style: solid;
  border-color: #FFFFFF;
  margin-top: 5px;
}
.title{
  color: #2295c7;
  font-weight: bold;
  text-transform: capitalize;
  text-align: left;
}

.select-comptabilite{
  text-align: left;
}
.total-select-dashboard{

  color: #e46e0a;
  border-color: #e46e0a;
  width: 50%;
  border-radius: 3px;
  height: 100%;
  background: #fff;
}
.img-depenses{
  height: 50px;
  align-self: center;
  border-radius: 5px;
  border-style: solid;
}

.montant-type{
  margin: 0 0 0 15px;
  text-align: left;
}


.main{
  margin: 0 10px;
}
.title-affaire{
  display: flex;
  flex-direction: row;
  margin: 3px 5px;
}
.parametres-button{
  height: 30px;
  background-color: #fff;
  margin-left: auto;
  border-radius: 5px 5px 2px 2px;
  border-color: #fff;
  border-style: solid;
}
/**/
/**/
/**/

/*dagay khar*/
.widget-comptabilite{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px;
  border-color: #38679b;
  border-style: solid;
  margin: 0 10px;
}
.pie-chart{

}

.text-center {
  text-align: center;
}
.highcharts-figure, .highcharts-data-table table {
  min-width: 80px;
  max-width: 80px;
  margin: 0;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 0;
  font-size: 1.2em;
  color: #000;
}
.highcharts-data-table th {
  font-weight: 600;
  padding: 0;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #000;
}

.highcharts-data-table tr:hover {
  background: #000;
}

input[type="number"] {
  min-width: 50px;
}

.title-clients{

}
.clients-name-chiffer{
  display: flex;
  flex-direction: column;
}
.containercontainer2{
  height: 300px;
}

/**/
/**/
/**/
/**/
.d-flex{
  display: flex!important;
}
.flex-row{flex-direction:row!important}.flex-column{flex-direction:column!important}.flex-row-reverse{flex-direction:row-reverse!important}.flex-column-reverse{flex-direction:column-reverse!important}
.flex-wrap{flex-wrap:wrap!important}.flex-nowrap{flex-wrap:nowrap!important}.flex-wrap-reverse{flex-wrap:wrap-reverse!important}
.depenses{
  background-color: #FFFFFF;
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
  margin: 5px 5px 0;

}
.padding-top-bottom{
  padding: 5px 0 ;
}
.padding-top-bottom-left{
  padding: 5px 0 5px 5px;
}
.salaires{
  background-color: #FFFFFF;
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
  margin: 5px 5px 0;
}
.frais{
  background-color: #FFFFFF;
  border-radius: 10px;
  border-color: #fff;
  border-style: solid;
  margin: 5px 5px 0;
}
/*
@media (min-width: 768px) {
  .col-sm-3 {
    width: 31%;
  }
}
@media (min-width: 992px){

  .col-md-3 {
    width: 31%;
  }
}
@media (min-width: 1200px){

  .col-lg-3 {
    width: 31%;
  }
}
*/


